/* styles.css */
* {
  background-color: rgb(75, 119, 88);
}
h1 {
  font-size: 25px;
  color: rgb(166, 192, 203);
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px 0 45px;
  text-align: center;
  border-radius: 16px;
}

a {
  font-size: 20px;
  color: rgb(166, 192, 203);
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px 0 45px;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}

h2 {
  font-size: 20px;
  color: rgb(166, 192, 203);
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px 0 45px;
  text-align: center;
  border-radius: 16px;
}
body {
  font-family: Arial, sans-serif;
  display: contents;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 60%;
  min-width: 300px;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px 0 45px;
  text-align: center;
  border: 3px solid rgb(181, 178, 178);
  border-radius: 16px;
}

.korean-character {
  font-size: 65px;
  font-weight: bold;
  color: white;
}

.english-pronunciation {
  font-size: 65px;
  color: #b6e134;
}

#prev {
  margin-top: 15px;
  font-size: 20px;
  background-color: lightcoral;
  color: white;
  padding: 6px;
  width: 80px;
  height: 60px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

#reset {
  margin-top: 15px;
  font-size: 20px;
  background-color: lightgreen;
  color: darkgreen;
  padding: 6px;
  width: 80px;
  height: 60px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

#next {
  margin-top: 15px;
  font-size: 20px;
  background-color: lightskyblue;
  color: white;
  padding: 6px;
  width: 80px;
  height: 60px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}
